<form  [formGroup]="form" class="form-group">
    <div class="form-group">
        <label for="oldpassword">Old password</label>
        <input
            formControlName="oldpassword"
            id="oldpassword"
            type="text"
            class="form-control"/>
        <div *ngIf="oldpassword.touched && oldpassword.invalid">
            <div class="alert alert-danger" *ngIf="!oldpassword.errors.required">Old password is required.</div>
            <div class="alert alert-danger" *ngIf="oldpassword.errors.passwordIsCurrent">Password unknown.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword">New password</label>
        <input
            formControlName="newpassword"
            id="newpassword"
            type="text"
            class="form-control"/>
        <div *ngIf="newpassword.touched && newpassword.invalid">
            <div class="alert alert-danger" *ngIf="!newpassword.valid">New password is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword">Confirm password</label>
        <input
            formControlName="confirmpassword"
            id="confirmpassword"
            type="text"
            class="form-control"/>
        <div *ngIf="confirmpassword.touched && confirmpassword.invalid">
            <div class="alert alert-danger" *ngIf="!confirmpassword.valid">Confirmation password is required.</div>
        </div>
        </div>
    <button class="btn btn-primary">Change Password</button>
</form>
