<h2>General purpose exercise page</h2>

<p></p>
<h4>Password Change Form</h4>
<app-password-change-form></app-password-change-form>
  
<!--

  <p></p>
  <h4>Sign Up Form (Reactive)</h4>
  <signup-form></signup-form>
  
  <p></p>
<h4>Favourite</h4>
<app-like></app-like>

<p></p>
<h4>Titlecase Text</h4>
<app-recase></app-recase>

<p></p>
<h4>Like</h4>
<app-like2
[likesCount]="tweet.likesCount"
[isActive]="tweet.isLiked">
</app-like2>

<p></p>
<h4>Course Create Form (Template-driven)</h4>
<app-create-course-form></app-create-course-form>
-->

