img:hover {
    cursor: pointer;
}

svg {
    stroke: #cccccc;
    fill: #cccccc;
}

.like2-active {
    fill: deeppink;
    stroke: deeppink;
}

.like2-inactive {
    fill: #cccccc;
    stroke: #cccccc;
}